@media only screen and (min-width: 1440px) {
  /*Navigation bar*/
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #540b51;
    height: 30px;
  }
  nav ul {
    display: none;
  }
  .logo {
    height: 26px;
    object-fit: contain;
    width: 132px;
  }
  .navigation {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
  }
  .navigation-buttons {
    display: flex;
    width: 35%;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
    align-items: center;
  }
  #search-icon-landscape {
    width: 50px;
  }
  .menu-icon-responsive {
    display: none;
  }
  .navigation-buttons ul {
    display: flex;
    flex-direction: row;
    width: 33%;
    justify-content: space-between;
    padding: 0;
  }
  .nav-links {
    display: flex;
    width: 35%;
    flex-direction: row;
    justify-content: space-around;
  }
  #try-for-free {
    border: 1px solid #fff;
    background-color: #fff;
    color: #540b51;
    border-radius: 3px;
    padding: 10px 15px;
  }
  /* #sign-in-button {
    margin-right: 15px;
  } */
  .navigation-buttons ul,
  .nav-links {
    list-style-type: none;
  }
  .navigation-buttons ul li {
    margin: 0 5px;
  }
  .navigation-buttons a,
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  header {
    display: flex;
    min-height: 900px;
  }
  .clean-button-styles {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 90%;
    height: 50px;
    margin: 0 5px;
    border-radius: 3px;
  }
  /*Header sign-up-in*/

  .sign-up {
    display: flex;
    min-width: 500px;
    flex-direction: column;
    background-color: #540b51;
    color: #fff;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    padding: 3%;
  }
  #sign-up-desktop {
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
    padding: 0 20px;
  }
  #sign-up-desktop button {
    width: 300px;
    margin: 0 20px;
  }
  .sign-up h1 {
    font-size: 5rem;
    text-align: left;
    padding: 0 25px;
    margin-left: 15px;
  }
  .sign-up p {
    margin-left: 5%;
    font-size: 1.3rem;
    text-align: left;
    width: 30%;
  }
  .sign-up-mail {
    background-color: white;

    color: #540b51;
    text-transform: uppercase;
    margin: 15px auto;
  }
  .sign-up-google {
    background-color: #4285f4;

    position: relative;

    color: #fff;
    text-transform: uppercase;
    margin: 15px auto;
  }
  .sign-up-google img {
    background-color: #fff;
    width: 7%;
    top: 5%;
    left: 3%;
    position: absolute;
    padding: 3px;
  }
  /**/
  .hero-product-wrapper {
    overflow: hidden;
    display: flex;
    width: 100%;
    min-height: 900px;
    flex-direction: column;
    justify-content: center;
    background-color: #540b51;
  }
  .hero-product {
    width: 80%;
    position: relative;
    bottom: 20%;
  }
  /**/
  .trusted {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: #f3eae2;
  }
  .trusted p {
    color: #000;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 15px;
    margin-top: 3%;
    font-size: 14px;
    font-weight: bold;
  }
  .trusted-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
  }
  .trusted-container img {
    margin: 10px;
  }
  .airbnb {
    width: 180px;
  }
  .nasa,
  .uber {
    width: 100px;
  }
  .target {
    width: 80px;
  }
  .nyt {
    width: 300px;
  }
  .spotify {
    width: 240px;
  }

  /**/
  .connectedness {
    display: flex;
    align-items: center;
  }
  .speed-move {
    background-color: #f3eae2;
  }
  .connectedness,
  .speed-wrapper {
    background-color: #f3eae2;
  }
  .connectedness-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 40px;
  }
  .connectedness-wrapper img,
  .flexibility-wrapper img,
  .speed-wrapper img {
    max-width: 400px;
  }
  .bring-your-team,
  .choose-work-wrapper,
  .move-faster {
    display: flex;
    margin: 0 auto;
    width: 85%;
    font-size: 1.2rem;
    flex-direction: column;
  }
  body > main > section.speed-move > div.move-faster {
    align-items: flex-start;
  }
  .choose-work,
  .move-faster {
    display: flex;
    flex-wrap: nowrap;
    background-color: #f3eae2;
    align-items: center;
  }
  .choose-work {
    justify-content: flex-end;
  }
  .choose-work h2,
  .move-faster h2 {
    margin: 0;
    padding-top: 15px;
  }
  .choose-work-wrapper {
    order: 1;
  }
  .flexibility-wrapper {
    order: 2;
  }
  .speed-move {
    display: flex;
    align-items: center;
  }
  .bring-your-team,
  .flexibility-wrapper,
  .choose-work-wrapper,
  .speed-wrapper,
  .move-faster {
    padding: 5% 0;
  }

  .speed-wrapper {
    padding-right: 5%;
  }
  .bring-your-team h2,
  .bring-your-team a,
  .bring-your-team p,
  .flexibility-wrapper,
  .choose-work-wrapper h2,
  .choose-work-wrapper a,
  .choose-work-wrapper p,
  .move-faster a,
  .move-faster h2,
  .move-faster p {
    padding-left: 5%;
  }
  .bring-your-team p {
    padding-right: 5px;
  }
  .bring-your-team a,
  .choose-work a,
  .move-faster a {
    text-decoration: none;
    color: #2e71a6;
  }
  .bring-your-team a:after,
  .choose-work a:after,
  .move-faster a:after {
    content: "\2192";
  }
  .teams-rely {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .teams-rely p {
    width: 90%;
    margin: 10px auto;
    padding: 15px;
  }
  .teams-rely h3 {
    margin: 40px;
    font-size: 2.5em;
  }
  .teams-button-wrapper {
    display: flex;
    width: 55%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .meet-slack,
  .talk-to-sales {
    border-radius: 3px;
    margin: 5px;
  }
  .meet-slack {
    width: 30%;
    background-color: #540b51;
    color: #fff;
  }
  .talk-to-sales {
    width: 15%;
    color: #540b51;
    border: 1px solid #540b51;
  }
  .statistics {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 60px;
    width: 95%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .statistics span {
    color: #540b51;
    font-size: 3em;
    font-weight: bold;
  }
  .statistics p {
    padding: 0 5%;
  }
  .statistics li {
    text-align: left;
  }
  /**/
  .welcome-digital {
    display: flex;
    width: 100%;
    height: 245px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #540b51;
    color: white;
    clip-path: ellipse(100% 100% at 50% 0%);
  }
  .welcome-digital h3 {
    text-align: center;
    margin: 0 auto;
    padding: 0 50px;
    width: 100%;
    font-size: 2.3rem;
  }
  .to-sales {
    order: 2;
    border: 1px solid #fff;
  }
  .for-free {
    order: 1;
    border: 1px solid #540b51;
    background-color: #fff;
    color: #540b51;
  }
  .to-sales,
  .for-free {
    position: relative;
    bottom: 20%;
    width: 10%;
    margin: 0 15px;
  }
  footer img {
    position: relative;
    width: 60px;
    top: 90px;
    left: 6%;
  }
  footer hr {
    display: none;
  }
  .footer-menu {
    display: flex;
    width: 90%;
    flex-direction: row;
    order: 1;
    font-size: 0.7rem;
    justify-content: space-between;
    margin: 10% 5% 3% 5%;
    border-bottom: 1px solid grey;
  }
  .footer-menu ul {
    list-style-type: none;
    padding: 0;
  }
  .footer-menu ul li {
    padding: 5px 20px;
    margin: 5px auto;
    font-weight: bolder;
  }
  .footer-menu ul li:not(:first-child) {
    font-weight: 100;
  }
  .sitemap {
    display: flex;
    width: 100%;
    flex-direction: row;
    order: 3;
    list-style-type: none;
    padding: 15px 0;
    font-size: 0.7rem;
    line-height: 40px;
    font-weight: bolder;
    justify-content: space-around;
  }

  .change-region::before {
    content: "";
    color: #408eb8;
    padding-left: 30px;
    background: url("/starter_code/images/icon-region.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 0px 5px;
    position: relative;
    top: 0px;
    left: 1px;
    padding: 10px 0 0 30px;
  }
  .download-slack {
    content: "";
    color: #408eb8;
    padding-left: 30px;
    background: url("/starter_code/images/icon-download.png");
    background-repeat: no-repeat;
    background-position: 0 10px;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .social-icons {
    display: flex;
    width: 80%;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    padding-left: 0;
    text-align: center;
    margin: 15px;
    padding-left: 75px;
  }
  .social-icons li {
    margin-left: 10px;
    margin-right: 60px;
  }
  .social-icons i {
    font-size: 1.3em;
  }
  .copyright {
    font-size: 0.9rem;
    font-weight: 100;
    padding: 20px 100px;
    text-align: left;
  }
}
